*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans" sans-serif;
}
body{
    height: 100vh;
    background: #000;
    background-image: url('https://img.freepik.com/premium-photo/there-is-dark-picture-mountain-lake-with-boat-it-generative-ai_900814-4276.jpg');
    background-size: cover;
    background-position: center;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
.logo , .links a:hover{
    color: orange;
}

/* HEADER */
header{
    position: relative;
    padding: 0 2rem;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 1.5rem;
    font-weight: bold;
}
.links{
    display: flex;
    gap: 2rem;
}
.toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: orange;
    color:#fff;
    border: none;
    border-radius: 25px;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover{
    scale: 1.06;
}
.action_btn:active{
    scale: 0.96;
}
/* HERO */
section#hero{
    height: calc(100vh = 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
#hero h1{
    font-size:3rem;
    margin-bottom:1rem;
}

/* DRAPDOWN MENU */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    height: 0;
    top: 60px;
    width: 300px;
    background: rgba(225, 225, 225, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center
}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.linkse{
    gap: 2rem;
}

/* RESPONSİVE DESİNG */
@media  (max-width: 992px) {
    .links,
    .action_btn{
        display:none;
    }
    .toggle_btn{
        display: block;
    }
        

    
}
